streamlit
langchain==0.1.16
langchain-community==0.0.32
langchain-core==0.1.43
sentence-transformers
faiss-cpu
pypdf
transformers
torch
huggingface-hub
accelerate
pytesseract
pillow
pdf2image
unstructured
unstructured[pdf]
pytesseract
pillow
pdf2image
